# Node.js
node_modules/
dist/
.nest/
*.js
*.d.ts
*.js.map
!.eslintrc.js

# IDE
.vscode/
.idea/
*.swp
*.swo

# Secrets
.env*
!.env.example
*.pem
*.key

# AWS CDK
infra/cdk/cdk.out/
infra/cdk/.cdk.staging/
infra/cdk/node_modules/
infra/cdk/dist/

# Testing / coverage
coverage/
.jest/

# Docker
docker/.env

# Node (docs site)
docs/node_modules/
docs/.astro/
docs/dist/

# macOS
.DS_Store
